version: '3.8'

services:
  app:
    build: .
    container_name: laravel_app
    volumes:
      - ./:/var/www/html
    networks:
      - laravel
    depends_on:
      - postgres

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./nginx.conf/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel
    depends_on:
      - app

  tileserver:
    image: maptiler/tileserver-gl
    container_name: laravel_tileserver
    ports:
      - "8081:8080"
    environment:
      - CORS=*
    volumes:
      - ./map-data:/data
    networks:
      - laravel

  postgres:
    image: postgres:17
    container_name: laravel_postgres
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - laravel

  firestore-sync:
    build:
      context: ./firestore-sync-service
    container_name: firestore-sync-service
    ports:
      - "4000:4000"
    volumes:
      - ./firestore-sync-service:/app
    networks:
      - laravel
    restart: unless-stopped
    environment:
      - NODE_ENV=production

networks:
  laravel:
    driver: bridge

volumes:
  postgres_data:
