version: '3.8'

name: laravel_app

services:
  # PHP-FPM
  app:
    build: .
    image: php:8.2-fpm
    container_name: laravel_app
    volumes:
      - ./myapp:/var/www/html
    networks:
      - laravel

  # Nginx
  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - ./myapp:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

volumes:
  db_data:

networks:
  laravel:
    driver: bridge
